@import url('//fonts.googleapis.com/css?family=Roboto:400,300,500,700');

// Global styles can go here.  View-specific styles should go in their less file in the `views` dir
// Also, no need to @import:'less-file' anywhere in the code.  Grunt concatenates all LESS files when it is preparing to render them.

body {
  font-family: Roboto, Arial, sans-serif;
  color: @main-text-color;
  line-height: 1;
  -webkit-transition: -webkit-transform .5s 0s;
          transition: transform .5s 0s;
}

.clearboth {
  clear: both;
}

a {
  color: #1a90b9;
}

section,
.section {
  background-color: #fff;
  padding: 64px 0;
  @media (min-width: @screen-lg) {
    padding: 98px 0;
  }
}

.offcolor {
  background-color: @off-color;
}

.col-sm-fifths {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
}

.underline {
  text-decoration: underline;
}

.noscroll {
  overflow: hidden;
}
body.sidebar-visible {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-transition: -webkit-transform .5s 0s;
          transition:         transform .5s 0s;
}
.primary-blue {
  background-color: @primary-blue;
}

.btn-success {
  background-color: @primary-green;
  border-color: @primary-green;
}
/* ==========================================================================
   Nav
   ========================================================================== */

nav {
  min-height: 80px;
  @media (max-width: @screen-xs-max) {
    min-height: 56px;
    padding: 28px 0;
  }
  padding: 8px;

  .home-logo {
    float: left;
    padding: 30px 16px;
    @media (max-width: @screen-xs-max) {
      padding: 10px 16px;
    }

    img {
      max-width: 100px;
    }
  }

  .nav-options {
    float: right;
    margin-top: 34px;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 12px;

      a {
        padding: 8px 16px;
        text-decoration: none;
        color: @nav-color;
        font-weight: 300;
      }

      &:hover {
        a:not(.actionable) {
          color: @nav-active;
        }
      }
      &.active {
        color: @nav-active;
        font-weight: 500;
      }

    }
    .actionable {
      margin-left: 16px;
      padding: 14px 36px;
      border: 1px solid @primary-blue;
      border-radius: @border-radius-large+2;
      color: @primary-blue;
      font-weight: 500;

      &:hover {
        color: #fff;
        background-color: @primary-blue;
        border-color: @primary-blue;
      }
      transition: all 0.18s;
    }
  }

  #sidebar {
    position: fixed;
    top: 0;
    right: -75%;
    height: 100%;
    width: 75%;
    overflow-y: hidden;
    border-left:1px solid #d0d0d0;
    -webkit-transform: translateX(75%) translateZ(0);
       -moz-transform: translateX(75%) translateZ(0);
            transform: translateX(75%) translateZ(0);
    -webkit-transition: transform .5s 0s, visibility 0s .5s;
       -moz-transition: transform .5s 0s, visibility 0s .5s;
            transition: transform .5s 0s, visibility 0s .5s;
    ul {
      padding: 20px 36px;
      list-style: none;
      li {
        margin-bottom: 20px;
        &:not(:last-child):not(:first-child){
          &:after {
            content: "";
            display: block;
            margin: auto;
            width: 35%;
            height: 1px;
            background-color: #ccc;
          }
        }
        a {
          display: block;
          padding: 28px 16px;
          font-size: 22px;
          text-align: center;
          font-weight: 100;
          color: @nav-color;
        }
        .actionable {
          background-color: @primary-blue;
          color: #fff;
          border-radius: @border-radius-base + 2;
        }
      }
    }
    &.visible {
      visibility: visible;
      -webkit-transform: translateX(0);
         -moz-transform: translateX(0);
              transform: translateX(0);
      -webkit-overflow-scrolling: touch;
    }
  }

  .sidebar-nav {
    position: absolute;
    top: 34px;
    right: 30px;
    width: 32px;
    height: 32px;
    cursor: pointer;

    .menu {
      display: block;
      position: absolute;
      margin-top: 6px;
      height: 3px;
      width: 28px;
      background-color: @primary-blue;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;

      &:before,
      &:after {
        &:extend(nav .sidebar-nav .menu);
        content: "";
      }
      &:before {
        top: 6px;
      }
      &:after {
        bottom: -6px;
      }
      &.open {
        background-color: transparent;
        margin-top: auto;
        &:before {
          top: 1px;
          -webkit-transform: rotate(45deg);
             -moz-transform: rotate(45deg);
                  transform: rotate(45deg);
        }
        &:after {
          -webkit-transform: rotate(-45deg);
             -moz-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }
      }
    }
  }
}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
  padding: 130px 0;
  height: 350px;
  color: #fff;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .paragraph {
    text-align: center;
  }
  .signup {
    background-color: rgba(0,0,0,0.2);
  }
  .h4 {
    color: @hero-subheader-color;
    margin-bottom: 48px;
  }
  .underline {
    text-decoration: underline;
    font-weight: 300;
  }
  &.shifted {
    @media (min-width: @screen-md-min) {
      padding-left: 160px;
    }
  }
}
/* ==========================================================================
   Live Demo Section
   ========================================================================== */
.livedemo {
  .h4 {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .btn {
    padding: 22px 60px;
    font-size: 18px;
  }

}

/* ==========================================================================
   Product Screenshot
   ========================================================================== */
.product {
  padding-bottom: 0;
}

.product-container {
  .product-shot {
    max-width: 1040px;
    margin: 0 auto;
    margin-top: 24px;
    height: 520px;
    background-image: url('/img/macbook-iphone.png');
    background-size: 100%;
    background-repeat: no-repeat;


    @media (max-width: @screen-sm-min)  {
      min-height: 280px;
      height: inherit;
    }
    @media (max-width: @screen-xs-min)  {
      min-height: 150px;
      height: inherit;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      background-position-y: bottom;
    }
  }
  .demo-shot {
    &:extend(.product-container .product-shot);
    background-image: url('/img/macbook-hotspots.png');
  }
}
/* ==========================================================================
   Signup
   ========================================================================== */
.signup {
  margin: 0 auto;
  padding: 20px 20px 10px;
  @media (max-width: @screen-xs-max) {
    padding: 12px 12px 4px;
  }
  max-width: 620px;
  border-radius: @border-radius-base;

  .email {
    width: 100%;
    @media (min-width: @screen-md-min) {
      max-width: 350px;
    }
    min-height: 48px;
    color: #333;
    font-size: 18px;
    padding: 2px 8px 2px 32px;
    border-radius: @border-radius-base;
    border: none;
  }

  button {
    width: 100%;
    font-size: 18px;
    @media (min-width: @screen-md-min) {
      min-width: 210px;
      margin-left: -36px;
    }
  }

  .email,
  button {
    margin-bottom: 10px;
    height: 72px;
  }

  .col-sm-8 {
    @media(min-width: @screen-sm-min) {
      padding-right: 2px;
    }
    @media(max-width: @screen-xs-min) {
      margin-bottom: 10px;
    }
  }
  input::-webkit-input-placeholder {
    line-height: normal;
  }
}

.call-to-action {
  .signup {
    .email {
      border: 1px solid @signup-border-color;
    }
  }
  .h3 {
    margin-bottom: 24px;
    color: @main-text-color;
    font-size: 26px;
    font-weight: 400;
  }
  .paragraph {
    margin-top: 8px;
    color: @main-text-color;
  }
  .underline {
    &:extend(.hero .underline);
  }
}

/* ==========================================================================
   Buckets
   ========================================================================== */
.buckets {
  .h4 {
    margin: auto;
    max-width: 700px;
    font-size: 26px;
  }

  .bucket-cell {
    margin-top: 64px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 64px;
    &.simple {
      background-image: url('/img/icons/simple_powerful_@2x.png');
    }
    &.connect {
      background-image: url('/img/icons/connect_@2x.png');
    }
    &.love {
      background-image: url('/img/icons/customer_love_@2x.png');
    }
    &.get-paid{
      background-image: url('/img/icons/get_paid_@2x.png');
    }
    &.reduce-noshows{
      background-image: url('/img/icons/reduce_no_shows_@2x.png');
    }
    &.be-organized{
      background-image: url('/img/icons/be_organized_@2x.png');
    }
    &.calendar-integration {
      background-image: url('/img/icons/calendar_integration_@2x.png');
    }
    &.work-better-together {
      background-image: url('/img/icons/work_better_together_@2x.png');
    }
    &.save-time {
      background-image: url('/img/icons/save_time_@2x.png');
    }
    &.increase-sales {
      background-image: url('/img/icons/increase_sales_@2x.png');
    }
    &.book-anywhere {
      background-image: url('/img/icons/book_anywhere_@2x.png');
    }
    &.accept-payments {
      background-image: url('/img/icons/accept_payments_@2x.png');
    }
    .h5 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      color: @buckets-header-color;
    }
    .paragraph {
      font-weight: 100;
      line-height: 1.6;
      text-align: center;
      color: @buckets-paragraph-color;
    }
  }
}

/* ==========================================================================
   Pulsing Dots
   ========================================================================== */
@dot-size: 24px;

.dot {
  height: @dot-size;
  width: @dot-size;
  background-color: @standout-blue;
  position: absolute;
  border-radius: 50%;
  z-index: 4;
  @media(max-width: @screen-md-max) {
    display: none;
  }
}

.pulse {
  &:extend(.dot);
  top: @dot-size*-1.6;
  left: @dot-size*-1.6;
  width: 100px;
  height: 100px;
  .animation(pulse 2s ease-out);
  .animation-iteration-count(infinite);
}

@-webkit-keyframes pulse {
  0% {
    .scale(0);
    opacity: 0.0;
  }
  25% {
    .scale(0);
    opacity: 0.25;
  }
  50% {
    .scale(0.3);
    opacity: 0.5;
  }
  75% {
    .scale(0.6);
    opacity: 0.75;
  }
  100% {
    .scale(1);
    opacity: 0;
  }
}

@-o-keyframes pulse {
  0% {
    .scale(0);
    opacity: 0.0;
  }
  25% {
    .scale(0);
    opacity: 0.25;
  }
  50% {
    .scale(0.3);
    opacity: 0.5;
  }
  75% {
    .scale(0.6);
    opacity: 0.75;
  }
  100% {
    .scale(1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    .scale(0);
    opacity: 0.0;
  }
  25% {
    .scale(0);
    opacity: 0.25;
  }
  50% {
    .scale(0.3);
    opacity: 0.5;
  }
  75% {
    .scale(0.6);
    opacity: 0.75;
  }
  100% {
    .scale(1);
    opacity: 0;
  }
}
/* ==========================================================================
   Companies
   ========================================================================== */
.companies {
  padding-top: 108px;
  padding-bottom: 40px;
  .clients-container,
  .clients-top,
  .clients-bottom {
    display: table;
    margin: auto;
  }

  .client{
    @media (min-width: @screen-lg) {
      min-width: 170px;
      background-size: contain;
    }
    display: inline-block;
    margin-top: 24px;
    min-width: 136px;
    min-height: 72px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 95%;
    &.optimizely {
      background-image: url('/img/icons/optimizely_@2x.png');
    }
    &.wildapricot {
      background-image: url('/img/icons/wild_apricot_@2x.png');
    }
    &.mixpanel {
      background-image: url('/img/icons/mixpanel_@2x.png');
    }
    &.capterra {
      background-image: url('/img/icons/capterra_@2x.png');
    }
    &.startupsafary {
      background-image: url('/img/icons/startup_safary_@2x.png');
      margin-top: 0;
      min-height: 116px;
    }
  }

  @media (min-width: @screen-md-min) {
    .client {
      margin-right: 48px;
    }
  }

  @media (min-width: @screen-sm-min) {
    .clients-top,
    .clients-bottom {
      display: inline-block;
    }
  }

  @media (max-width: @screen-xs-min) {
    .client {
      min-width: 82px;
    }
  }
}


.testimonials {
  padding-bottom: 80px;
  .quote {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      min-height: 270px;
    }
    margin-bottom: 18px;
    padding: 20px;
    min-height: 225px;
    border: 1px solid #dedede;
    border-radius: @border-radius-base+2px;
    blockquote {
      padding: 11px;
      margin-bottom: 4px;
      font-weight: 300;
      line-height: 1.6;
      border-left: none;
      font-size: 16px;
      &:before {
        content: open-quote;
      }
      &:after {
        content: close-quote;
      }
    }
    cite {
      display: block;
      margin-top: 24px;
      margin-left: 22px;
      padding-left: 78px;
      height: 52px;
      line-height: 3;
      font-style: normal;
      font-size: 16px;
      font-weight: 300;
      color: #bebebe;
      background-repeat: no-repeat;
      &.john {
        background-image: url('/img/testimonials/john.png');
      }
      &.karyn {
        background-image: url('/img/testimonials/karyn.png');
      }
      &.shariq {
        background-image: url('/img/testimonials/shariq.png');
      }
      &.nicole {
        background-image: url('/img/testimonials/nicole.png');
      }
    }
    @media (max-width: @screen-xs-min) {
      cite {
        line-height: 1.5;
      }
    }
  }
}
/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  padding: 90px 0 30px;
  color: #f9f9f9;
  background-color: #282f35;

  @media (min-width: @screen-sm-min) {
    padding: 110px 0 140px;
  }
}

footer .container {
}

.footer-logo-wrapper {
  margin-left: -15px;
  margin-bottom: 50px;

  @media (min-width: @screen-sm-min) {
    margin-bottom: 0;
  }
}

.footer-logo {
  width: 156px;
}

.footer-nav {
  margin-bottom: 50px;
  padding: 0;
  list-style: none;

  @media (min-width: @screen-sm-min) {
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.footer-nav li {
  display: block;
  margin-right: 40px;
  margin-bottom: 26px;

  @media (min-width: @screen-sm-min) {
    display: inline-block;
  }
}

.footer-nav li a {
  display: block;
  color: inherit;
}

.footer-brand {
  font-size: 14px;
  color: #5b5f62;

  ul {
    margin-left: -15px;
    padding: 0;
    list-style: none;
    line-height: 35px;
  }

  li {
    display: inline-block;
    margin-right: 12px;

    @media (min-width: @screen-sm-min) {
      margin-right: 34px;
    }
  }
}

.footer-socialIcon {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  text-align: left;
  text-indent: -999em;
  border-radius: 3px;

  &:not(:last-child) {
    margin-right: 6px;
  }

  &:before {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.footer-socialIcon--facebook {
  background-color: #3b5998;

  &:before {
    background-image: url('../img/icons/facebook_footer_@2x.png');
  }
}

.footer-socialIcon--twitter {
  background-color: #55acee;

  &:before {
    background-image: url('../img/icons/twitter_footer_@2x.png');
  }
}

.footer-socialAndLang .row {
  text-align: left;

  @media (min-width: @screen-sm-min) {
    text-align: right;
  }
}

/* ==========================================================================
   Language Picker
   ========================================================================== */
.languagePicker {
  margin: 10px 0;

  .close {
    float: right;
    margin-top: -12px;
    margin-right: -14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: #dedede;
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    cursor: pointer;
  }
}

.languagePicker .caret {
  display: none;
}

.languagePicker .btn,
.languagePicker .dropdown-menu > li > a {
  position: relative;
  padding: 13px 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;

  &:hover {
    background-color: #f3f6fb;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &[data-lang="en-us"] {
    &:before {
      background-image: url('../img/icons/United-States_@2x.png');
    }
  }
  &[data-lang="en-gb"] {
    &:before {
      background-image: url('../img/icons/United-Kingdom_@2x.png');
    }
  }
  &[data-lang="en-au"] {
    &:before {
      background-image: url('../img/icons/Australia_@2x.png');
    }
  }
  &[data-lang="es-es"] {
    &:before {
      background-image: url('../img/icons/Spain_@2x.png');
    }
  }
  &[data-lang="fr-fr"] {
    &:before {
      background-image: url('../img/icons/France_@2x.png');
    }
  }
  &[data-lang="de-de"] {
    &:before {
      background-image: url('../img/icons/Germany_@2x.png');
    }
  }
  &[data-lang="da-dk"] {
    &:before {
      background-image: url('../img/icons/Denmark_@2x.png');
    }
  }
  &[data-lang="it-it"] {
    &:before {
      background-image: url('../img/icons/Italy_@2x.png');
    }
  }
  &[data-lang="sv-se"] {
    &:before {
      background-image: url('../img/icons/Sweden_@2x.png');
    }
  }
  &[data-lang="fi-fi"] {
    &:before {
      background-image: url('../img/icons/Finland_@2x.png');
    }
  }
  &[data-lang="nl-nl"] {
    &:before {
      background-image: url('../img/icons/Netherlands_@2x.png');
    }
  }
}

.languagePicker .btn {
  color: #3a3f44;
  width: 100%;

  &:before {
    width: 14px;
    height: 11px;
  }

  @media (min-width: @screen-sm-min) {
    width: auto;
  }
}

.languagePicker .dropdown-menu > li > a {
  color: #555;

  &[data-selected] {
    color: #000;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      right: 15px;
      bottom: 0;
      margin: auto;
      width: 15px;
      height: 12px;
      background-image: url('../img/icons/green_check_@2x.png');
      background-size: 100%;
    }
  }

  &:before {
    width: 22px;
    height: 16px;
  }
}

.languagePicker .dropdown-menu {
  margin-bottom: 9px;
  width: 100%;
  border-radius: 3px;

  @media (min-width: @screen-sm-min) {
    right: 0;
    left: auto;
    width: auto;
  }

  &:before {
    content: '';
    position: absolute;
    right: 16px;
    bottom: -12px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: white;
  }
}
.languagePicker .dropdown-menu-heading {
  padding: 18px 30px;
  font-size: 16px;
  text-align: center;
  color: #222;
  border-bottom: 1px solid #d9d9d9;
}
/* ==========================================================================
   Modal
   ========================================================================== */

.modal-dialog {
  @media(min-width: @screen-sm-min) {
    width: 580px;
  }
}

.modal {
  .modal-content {
    border-radius: @border-radius-base+2;
    .box-shadow(0 0px 5px rgba(0,0,0,.2));
    .container {
      max-width: 90%;
    }
    .h3 {
      margin-top: 8px;
      margin-bottom: 32px;
      font-size: 26px;
      color: #333;
    }
    .h5 {
      margin-bottom: 28px;
      font-size: 16px;
      color: @buckets-paragraph-color;
    }
    .paragraph {
      font-size: 14px;
      color: #333;
      font-weight: 100;
      a {
        text-decoration: underline;
      }
    }
    .modal-header {
      padding-top: 22px;
      padding-right: 22px;
      padding-bottom: 0;
      border: none;

      .close {
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #dedede;
        color: #fff;
        font-size: 30px;
        font-weight: 100;

        span {
          position: relative;
          bottom: 2px;
        }
      }
    }
    .modal-body {
      padding-top: 0;
      padding-bottom: 40px;
      .modal-signup {
        input {
          margin-bottom: 20px;
          padding: 2px 8px 2px 32px;
          font-size: 18px;
          border: 1px solid #dedede;
          border-radius: @border-radius-base;
          background-color: @modal-input-grey;
          &[type="password"] {
            color: #999;
          }
        }

        button {
          margin-top: 20px;
          margin-bottom: 40px;
          font-size: 16px;
        }

        input,
        button {
          width: 100%;
          height: 70px;
        }
      }
    }
  }
}

.modal-backdrop {
  background-color: #3d5560;
  &.in {
    opacity: 0.99;
  }
}


.content h2,
.content .h2 {
  font-size: 20px;
  font-weight: normal;
}

.content {
  font-weight: 100;
}

.content p {
  color: #666;
}
