.mini {
    margin: 0 auto;
    width: 320px;
    margin-top: 100px;

	@media (max-height: 1000px) {
		margin-top: 50px;
	}

	@media (max-width: @screen-sm-min) {
		margin-top: 10px;
	}

    .page-header {
	    text-align: center;
	    margin-top: 0;

	    & > h1 {
	    	margin-top: 0;
	    	font-size: 20px;
	    }
    }
}

.mini-logo {
	margin-bottom: 15px;
	text-align: center;

	& > img {
		.square(194px);
	}
}