// This is the path relative to the complied LESS file in dist
@bowerPath: '../../bower_components/';

// Path to bootstrap LESS files relative to this file in dist
@bootstrapPath: '@{bowerPath}/bootstrap';

// Override Bootstrap variables here

// Colors
@primary-blue:                 #1daddb;
@brighter-blue:                #2baed9;
@standout-blue:                #1ec0ff;
@primary-green:                #64b352;
@off-color:                    #f3f6fb;
@main-text-color:              #293035;
@hero-subheader-color:         #dedede;
@buckets-header-color:         #293035;
@buckets-paragraph-color:      #666666;
@nav-color:                    #3a3f44;
@nav-active:                   #1a90b9;
@signup-border-color:          #dfdfe0;
@modal-input-grey:             #fafafa;


// Form
@border-radius-base:           2px;
@border-radius-large:          3px;
@border-radius-small:          2px;

// Typography
@headings-font-weight:         100;
@font-size-base:               16px;
