// Styles for the about page


.page-about {
	.hero {
		background-image: url('../img/about_hero.jpg');

		.paragraph {
			font-size: 20px;
			line-height: 1;
			font-weight: 300;
		}
	}

	.h1 {
		margin: 0 0 40px;
		font-size: 36px;
		font-weight: 400;
	}

	.h2 {
		margin-bottom: 30px;
		line-height: 1.4;
	}

	.content {
		margin-bottom: 30px;
		padding-top: 68px;
	}

	p,
	.paragraph {
		line-height: 1.7;
		margin-bottom: 15px;
	}

	.img-content {
		margin-bottom: 50px;
		width: 100%;
	}

	.img-map {
		width: 100%;

		@media (min-width: @screen-sm-min) {
			display: block;
			float: left;
			width: 50%;
		}
	}
}
