<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}" ng-app="appointlet.www.about">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>About Appointlet: Who we are, What we do - Appointlet</title>
  
  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon/favicon.ico">
  <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/favicon/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="img/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
  
  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
  
  <!-- Windows Icons -->
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  
  <!-- Android -->
  <link rel="manifest" href="img/favicon/manifest.json">
  
  <!-- Styles -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Mixpanel -->
  <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);</script>
  
  <!-- Stripe -->
  <script src="https://checkout.stripe.com/checkout.js" async></script>
</head>

<body class="page-about">
  <nav>
    <div id="sidebar">
      <ul>
        <li><a href="#" class="actionable">Try it Free</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Features</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="home-logo">
        <a href="#"><img alt="Appointlet Logo" src="img/icons/appointlet_logo_@2x.png"></a>
      </div>
      <ul class="nav-options hidden-xs">
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#" class="actionable">Try it Free</a></li>
      </ul>
      <div class="sidebar-nav visible-xs">
        <span class="menu">&nbsp;</span>
      </div>
    </div>
  </nav>
  <div class="hero">
    <h1 class="h1">
      About Us
    </h1>
    <p class="paragraph">
      Who we are, What we do
    </p>
  </div>

  <div class="container content">
    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <h2 class="h2">Appointlet is a passionate software company that is bringing appointment scheduling into the 21st century by modernizing the way businesses interact with their customers.</h2>
        <p class="paragraph">
          Appointlet is the brainchild of <a href="https://www.linkedin.com/pub/jared-morse/49/863/ba4">Jared Morse</a>.  While working at a startup in Portland, OR he began to tire of the back and forth with customers just to add an event to Google Calendar.
        </p>
        <p class="paragraph">
          And so he began a journey to extend Google Calendar into a fully capable, self-serve scheduling app.  Appointlet was born.
        </p>
        <p class="paragraph">
          Sensing that building and selling Appointlet was beyond the capacity of his primitive developer brain, he reached out to the greatest source of wisdom on the web: reddit.  He was quickly rewarded in the form of a brilliant young marketer named <a href="https://lb.linkedin.com/pub/rami-el-chamaa/36/aa1/593">Rami El Chamaa</a> hailing from Beirut, Lebanon.
        </p>
        <p class="paragraph">
          Rami saw the value of Appointlet as a solution for eliminating the countless hours businesses spend playing phone & email tag with their customers; time that could be spent on mission-critical duties.  He answered Jared’s call, and as they say, the rest is history.
        </p>
        <p class="paragraph">
          Together we are Appointlet.  We strive to make life easier for your business by automating your scheduling needs.
        </p>
        <p class="paragraph">
          We would love to hear from you, so please feel free to <a href="mailto:hello@appointlet.com">reach out</a>, or find us on <a href="https://www.facebook.com/Appointlet">Facebook</a> and <a href="https://twitter.com/appointlet">Twitter</a>.
        </p>
        <p class="paragraph">
          <i>We remain completely independent and bootstrapped, meaning we have no outside investors and don’t owe anything to anyone beyond our customers.</i>
        </p>
        <!-- <img alt="" src="../img/about_image_1.jpg" class="img-responsive img-content" /> -->
        <div class="row">
          <div class="col-sm-6">
            <!-- <h2 class="h2">Lorem ipsum dolor sit amet</h2>
            <p class="paragraph">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p> -->
            <img alt="" src="../img/about_image_2.jpg" class="img-responsive img-content" />
          </div>
          <div class="col-sm-6">
           <!-- <h2 class="h2">Lorem ipsum dolor sit amet</h2>
            <p class="paragraph">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p> -->
            <img alt="" src="../img/about_image_3.jpg" class="img-responsive img-content" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="maps clearfix">
    <img alt="" src="../img/about_map_1.jpg" class="img-responsive img-map" />
    <img alt="" src="../img/about_map_2.jpg" class="img-responsive img-map" />
  </div>

  <!-- footer start -->
  <footer>
    <div class="container">
      <div class="col-md-9">
        <div class="row">
          <ul class="footer-nav">
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Pricing
              </a>
            </li>
            <li>
              <a href="#">
                Features
              </a>
            </li>
            <li>
              <a href="#">
                Support
              </a>
            </li>
            <li>
              <a href="#">
                About
              </a>
            </li>
            <li>
              <a href="#">
                Partner With Appointlet
              </a>
            </li>
          </ul>
        </div>
        <div class="row footer-brand">
          <div class="col-md-9 col-md-push-3">
            <ul>
              <li>
                &copy; 2015 Appointlet
              </li>
              <li>
                Terms of Service
              </li>
              <li>
                Privacy Policy
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-md-pull-9 footer-logo-wrapper">
            <img src="../img/icons/appointlet_logo_footer_@2x.png" class="footer-logo" alt="Appointlet" />
          </div>
        </div>
      </div>
      <div class="col-md-3 footer-socialAndLang">
        <div class="row">
          <a class="footer-socialIcon footer-socialIcon--facebook" href="#">
            Facebook
          </a>
          <a class="footer-socialIcon footer-socialIcon--twitter" href="#">
            Twitter
          </a>
        </div>
        <div class="row">
          <div class="dropup languagePicker">
            <button
              class="btn btn-default dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              data-lang="en-us"
            >
              United States (EN)
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-menu-heading">
                Select Your Language<span class="visible-xs close" aria-hidden="true">&times;</span>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-us" data-selected tabindex="-1" href="#">United States (EN)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-gb" tabindex="-1" href="#">English (GB)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-au" tabindex="-1" href="#">English (AU)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="es-es" tabindex="-1" href="#">Español</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="fr-fr" tabindex="-1" href="#">Français</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="de-de" tabindex="-1" href="#">Deutsch</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="da-dk" tabindex="-1" href="#">Dansk</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="it-it" tabindex="-1" href="#">Italiano</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="sv-se" tabindex="-1" href="#">Svenska</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="fi-fi" tabindex="-1" href="#">Suomi</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="nl-nl" tabindex="-1" href="#">Nederlands</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->
  <script src="js/libs.min.js"></script>
  <script src="js/logic.min.js"></script>
  <script src="js/templates.min.js"></script>

  <script>
    angular.module('appointlet.www').constant('settings', {
      API_URL: 'https://api.appointlet.com',
      CLIENT_ID: '{{CLIENT_ID}}',
      STRIPE_PUBLISHABLE: '{{STRIPE_PUBLISHABLE}}',
      MIXPANEL_TOKEN: '{{MIXPANEL_TOKEN}}',
    });
  </script>
</body>
</html>
