.doctors {
  section.hero {
    background-image: url('/img/doctors_hero.jpg');
    min-height: 550px;
    .h1 {
      font-size: 30px;
      font-weight: 200;
    }
    .h4 {
      line-height: 1.6;
    }
    .signup {
      margin-bottom: 24px;
    }
    @media (max-width: @screen-xs-max) {
      padding: 0;
      min-height: 670px;
    }
  }

  .livedemo {
    .btn {
      color: #fff;
    }
  }

  .call-to-action {
    .signup {
      .email {
        border: 1px solid #999;
      }
    }
  }
}
