// Styles for the features page
.page-features {
  section.hero {
    background-image: url('/img/features_hero.jpg');
    background-position: center 0;
    min-height: 450px;
    .h1 {
      font-size: 30px;
      font-weight: 200;
    }
    .h4 {
      line-height: 1.6;
    }
    .signup {
      margin-bottom: 24px;
      background-color: transparent;
    }
    @media (max-width: @screen-xs-max) {
      padding: 10px 0;
      min-height: 550px;
    }
  }
  .demo-tooltips,
  .appointments {
    padding-bottom: 0;
  }

  .demo-tooltips {
    padding-top: 40px;
  }

  .h4 {
    text-align: center;
  }
  .paragraph {
    line-height: 1.6;
    font-weight: 100;
    color: #999;
    strong {
      color: @buckets-paragraph-color;
      font-weight: 400;
    }
  }
  .buckets .bucket-cell .h5 {
    font-size: 26px;
  }
  .product-container .product-shot {
    margin-top: 64px;
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      background-position-y: bottom;
    }
  }
  .call-to-action .underline {
    font-weight: 400;
  }

  .feature-icon {
    margin-top: 12px;
    padding-top: 260px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: contain;
    @media (min-width: @screen-md-min) {
      padding-top: 320px;
    }
  }

  .feature-description {
    @media (min-width: @screen-md-min) {
      padding-top: 32px;
    }
    @media (max-width: @screen-sm-max) {
      text-align: center;
    }
    .h4 {
      font-size: 26px;
      @media (min-width: @screen-md-min) {
        text-align: left;
        line-height: 2.6;
      }
    }
    .paragraph {
      max-width: 470px;
      @media (max-width: @screen-sm-max) {
        margin: auto;
        max-width: 80%;
      }
    }
  }
  .appointments {
    .h4 {
      text-align: left;
      font-size: 26px;
      @media (max-width: @screen-sm-max) {
        text-align: center;
      }
    }
  }

  .feature-column {
    @media (max-width: @screen-md) {
      text-align: center;
    }
    &.first {
      @media (min-width: @screen-lg) {
        padding-left: 110px;
      }
    }
    &.second {
      @media (min-width: @screen-lg) {
        .paragraph {
          max-width: 80%;
        }
      }
    }
    .h4 {
      max-width: 90%;
    }
    .h4,
    .paragraph {
      line-height: 1.8;
    }
    .paragraph {
      max-width: 95%;
      margin-bottom: 24px;
    }
  }

  .personal-assistant {
    .feature-icon {
      background-image: url('/img/icons/personal_assistant_@2x.png');
    }
  }
  .control-schedule {
    .feature-icon {
      background-image: url('/img/icons/take_control_@2x.png');
    }
  }
  .workbetter {
    .feature-icon {
      background-image: url('/img/icons/work_better_@2x.png');
    }
  }
  .manage {
    .feature-icon {
      background-image: url('/img/icons/manage_appointments_@2x.png');
    }
  }
  .speak-your-language {
    .feature-icon {
      background-image: url('/img/icons/language_@2x.png');
    }
  }
  .automate {
    .feature-icon {
      background-image: url('/img/icons/automate_@2x.png');
    }
  }
  .do-business-anywhere {
    .feature-icon {
      background-image: url('/img/icons/location_@2x.png');
    }
  }
  .support {
    .feature-icon {
      background-image: url('/img/icons/support_@2x.png');
    }
  }


  .dot {
    &#staff {
      left: 255px;
    }
    &#patients {
      left: 205px;
    }
    &#coffee {
      left: 455px;
    }
    &#create {
      left: 900px;
    }
    &#create {
      left: 1100px;
    }
  }

}
