<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}" ng-app="appointlet.www.features">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Features - Online Scheduling Software - Appointlet</title>
  
  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon/favicon.ico">
  <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/favicon/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="img/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
  
  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
  
  <!-- Windows Icons -->
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  
  <!-- Android -->
  <link rel="manifest" href="img/favicon/manifest.json">
  
  <!-- Styles -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Mixpanel -->
  <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);</script>
  
  <!-- Stripe -->
  <script src="https://checkout.stripe.com/checkout.js" async></script>
</head>

<body class="page-features">
  <!--begin header-->
  <nav>
    <div id="sidebar">
      <ul>
        <li><a href="#" class="actionable">Try it Free</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Features</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="home-logo">
        <a href="#"><img alt="Appointlet Logo" src="img/icons/appointlet_logo_@2x.png"></a>
      </div>
      <ul class="nav-options hidden-xs">
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#" class="actionable">Try it Free</a></li>
      </ul>
      <div class="sidebar-nav visible-xs">
        <span class="menu">&nbsp;</span>
      </div>
    </div>
  </nav>
  <!--end header-->
  <section class="hero">
    <div class="container">
      <h1 class="h1">Full-featured Google Calendar Appointment Scheduling</h1>
      <h2 class="h4">Appointlet helps you stay focused on what matters most &mdash; your customers.</h2>
    </div>
    <div class="container">
      <div class="signup">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <input class="email" id="hero-email"name="hero-email" type="text" placeholder="Work Email" />
          </div>
          <div class="col-xs-12 col-sm-4">
            <button class="btn btn-success btn-lg">Try it Free</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="offcolor demo-tooltips">
    <div class="product-container">
      <div class="demo-shot">
        <div id="staff" class="dot">
          <div class="pulse">
          </div>
        </div>
        <div id="patients" class="dot">
          <div class="pulse">
          </div>
        </div>
        <div id="coffee" class="dot">
          <div class="pulse">
          </div>
        </div>
        <div id="create" class="dot">
          <div class="pulse">
          </div>
        </div>
        <div id="edit" class="dot">
          <div class="pulse">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="personal-assistant">
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <div class="feature-description">
          <h4 class="h4">Personal assistant in the cloud</h4>
          <p class="paragraph">Whether you’re a solo entrepreneur or have a team to support you, you’ve probably wished for a personal assistant. With seamless Google Calendar integration, appointment reminders and payment collection, Appointlet helps you eliminate email back-and-forth and regain control of your business and your inbox.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6">
        <div class="feature-icon">
        </div>
      </div>
    </div>
  </section>
  <section class="control-schedule">
    <div class="container">
      <div class="col-xs-12 col-sm-6">
        <div class="feature-description">
          <h4 class="h4">Take control of your schedule</h4>
          <p class="paragraph">No more double-booking, time zone miscommunications or other scheduling mistakes. With 2-way Google Calendar integration, Appointlet knows when you’re free and when you’re not. Just tell Appointlet when you want to be booked, for how long and how much time you need between meetings and we’ll handle the rest -- even if you have multiple calendars.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="feature-icon">
        </div>
      </div>
    </div>
  </section>
  <section class="offcolor appointments">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="feature-column first">
            <h4 class="h4">Accept appointments from your website 24/7</h4>
            <p class="paragraph">Your customers can book you from anywhere in the world on any device 24/7 — even if you’re asleep. Appointlet’s responsive design integrates fully with your website so your customers can do business with you the way they prefer.</p>
            <p class="paragraph"><strong>Don’t have a website? No problem.</strong> You can share you scheduler in your emails, on social media or simply send it as a link to your customers.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="feature-column second">
            <h4 class="h4">Maintain control of your image and reputation</h4>
            <p class="paragraph">Your scheduler can be seamlessly integrated into your website with just a few settings. Or it can stand alone and still offer your customers a classy experience that matches your brand. Either way, your customers will know they’re dealing with a professional.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="product-container">
          <div class="product-shot">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="workbetter">
    <div class="container">
      <div class="col-xs-12 col-sm-6">
        <div class="feature-icon">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="feature-description">
          <h4 class="h4">Work Better Together</h4>
          <p class="paragraph">Do you have multiple staff members? Centralized administration makes handling and supervising multiple calendars a breeze. Just add your staff, link their calendars and you’re ready to accept appointments. Each staff can also have his own link to accept bookings independently.</p>
          <p class="paragraph">Appointlet can even automatically assign staff members to a booking so your clients won’t have to.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="manage">
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <div class="feature-icon">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6">
        <div class="feature-description">
          <h4 class="h4">Manage your appointments in Google Calendar</h4>
          <p class="paragraph">No need to switch to a new calendar. We’ve added a layer of functionality right on top of the familiar calendar you know and love. Confirm, reschedule or cancel any appointment right from the comfort of your Google Calendar.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="offcolor buckets">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="bucket-cell get-paid">
            <h5 class="h5">Get Paid On Time</h5>
            <p class="paragraph">Want your customers to pay when they book your time? Easy. When customers book time on your calendar, you can collect the full price or a deposit using Stripe, PayPal and more.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="bucket-cell reduce-noshows">
            <h5 class="h5">Reduce no-shows</h5>
            <p class="paragraph">Appointlet sends reminders to your customers automatically so you don’t have to deal with the embarrassment of being stood up for a meeting.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="bucket-cell be-organized">
            <h5 class="h5">Be organized and prepared</h5>
            <p class="paragraph">Appointlet can also collect important information from your customers like Skype names, phone numbers or addresses and put it right on your calendar.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="speak-your-language">
    <div class="container">
      <div class="col-xs-12 col-sm-6">
        <div class="feature-icon">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="feature-description">
          <h4 class="h4">We speak your language</h4>
          <p class="paragraph">English not your customers' language? No problem. Appointlet is available in Spanish, French, German and more.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="automate">
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <div class="feature-icon">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6">
        <div class="feature-description">
          <h4 class="h4">Automate your appointment administration tasks</h4>
          <p class="paragraph">Whether you want to update your CRM, send a text message or manage your mailing list, our Webhooks &amp; Zapier integration allows you to do just that. Forget your current multi-step appointment scheduling process and let Appointlet handle it all automatically.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="do-business-anywhere">
    <div class="container">
      <div class="col-xs-12 col-sm-6">
        <div class="feature-icon">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="feature-description">
          <h4 class="h4">Do business with anyone, anywhere in the world</h4>
          <p class="paragraph">One of the biggest problems with doing business across the world is managing time differences. With Appointlet, you don’t have to worry about time zone miscommunications, double-booking or accidentally booking yourself outside of your normal office hours. We translate times so you don’t have to.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="support">
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <div class="feature-icon">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6">
        <div class="feature-description">
          <h4 class="h4">Get as much (or as little) help as you need</h4>
          <p class="paragraph">Appointlet is easy to learn and easy to use, but if you want to master the more advanced features right away, we offer free and personalized implementation walkthroughs by phone or skype.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="call-to-action offcolor">
    <h3 class="text-center">Reclaim your time and inbox today</h3>
    <div class="container">
      <div class="signup">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <input class="email" id="hero-email"name="hero-email" type="text" placeholder="Work Email" />
          </div>
          <div class="col-xs-12 col-sm-4">
            <button class="btn btn-success btn-lg">Try it Free</button>
          </div>
        </div>
      </div>
      <div class="text-center underline">Full-featured + no credit card required</div>
    </div>
  </section>

  <!-- footer start -->
  <footer>
    <div class="container">
      <div class="col-md-9">
        <div class="row">
          <ul class="footer-nav">
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Pricing
              </a>
            </li>
            <li>
              <a href="#">
                Features
              </a>
            </li>
            <li>
              <a href="#">
                Support
              </a>
            </li>
            <li>
              <a href="#">
                About
              </a>
            </li>
            <li>
              <a href="#">
                Partner With Appointlet
              </a>
            </li>
          </ul>
        </div>
        <div class="row footer-brand">
          <div class="col-md-9 col-md-push-3">
            <ul>
              <li>
                &copy; 2015 Appointlet
              </li>
              <li>
                Terms of Service
              </li>
              <li>
                Privacy Policy
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-md-pull-9 footer-logo-wrapper">
            <img src="../img/icons/appointlet_logo_footer_@2x.png" class="footer-logo" alt="Appointlet" />
          </div>
        </div>
      </div>
      <div class="col-md-3 footer-socialAndLang">
        <div class="row">
          <a class="footer-socialIcon footer-socialIcon--facebook" href="#">
            Facebook
          </a>
          <a class="footer-socialIcon footer-socialIcon--twitter" href="#">
            Twitter
          </a>
        </div>
        <div class="row">
          <div class="dropup languagePicker">
            <button
              class="btn btn-default dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              data-lang="en-us"
            >
              United States (EN)
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-menu-heading">
                Select Your Language<span class="visible-xs close" aria-hidden="true">&times;</span>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-us" data-selected tabindex="-1" href="#">United States (EN)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-gb" tabindex="-1" href="#">English (GB)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-au" tabindex="-1" href="#">English (AU)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="es-es" tabindex="-1" href="#">Español</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="fr-fr" tabindex="-1" href="#">Français</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="de-de" tabindex="-1" href="#">Deutsch</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="da-dk" tabindex="-1" href="#">Dansk</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="it-it" tabindex="-1" href="#">Italiano</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="sv-se" tabindex="-1" href="#">Svenska</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="fi-fi" tabindex="-1" href="#">Suomi</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="nl-nl" tabindex="-1" href="#">Nederlands</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->

  <script src="js/libs.min.js"></script>
  <script src="js/logic.min.js"></script>
  <script src="js/templates.min.js"></script>

  <script>
    angular.module('appointlet.www').constant('settings', {
      API_URL: 'https://api.appointlet.com',
      CLIENT_ID: '{{CLIENT_ID}}',
      STRIPE_PUBLISHABLE: '{{STRIPE_PUBLISHABLE}}',
      MIXPANEL_TOKEN: '{{MIXPANEL_TOKEN}}',
    });
  </script>
</body> 
</html>
