<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}" ng-app="appointlet.www.financial_legal">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Welcome</title>
  
  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon/favicon.ico">
  <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/favicon/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="img/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
  
  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">

  <!-- Windows Icons -->
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Android -->
  <link rel="manifest" href="img/favicon/manifest.json">

  <!-- Styles -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Mixpanel -->
  <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);</script>

  <!-- Stripe -->
  <script src="https://checkout.stripe.com/checkout.js" async></script>
</head>

<body class="financial">
  <!--begin header-->
  <nav>
    <div id="sidebar">
      <ul>
        <li><a href="#" class="actionable">Try it Free</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Features</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="home-logo">
        <a href="#"><img alt="Appointlet Logo" src="img/icons/appointlet_logo_@2x.png"></a>
      </div>
      <ul class="nav-options hidden-xs">
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#" class="actionable">Try it Free</a></li>
      </ul>
      <div class="sidebar-nav visible-xs">
        <span class="menu">&nbsp;</span>
      </div>
    </div>
  </nav>
  <!--end header-->
  <section class="hero">
    <div class="container">
      <h1 class="h1">Goodbye phone and email overload. Hello automatic Google Calendar scheduling.</h1>
      <h2 class="h4">Join hundreds of other financial and legal services firms and bring your Google Calendar scheduling into the 21st century</h2>
    </div>
    <div class="container">
      <div class="signup">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <input class="email" id="hero-email"name="hero-email" type="text" placeholder="Work Email" />
          </div>
          <div class="col-xs-12 col-sm-4">
            <button class="btn btn-success btn-lg">Try it Free</button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center underline">30-day free trial, no credit card required</div>
  </section>
  <section class="offcolor livedemo">
    <div class="container text-center">
      <h4 class="h4 text-center">See it in action! What your customers get.</h4>
      <div class="col-xs-12">
        <button class="btn primary-blue btn-lg">Live Demo</button>
      </div>
    </div>
  </section>
  <section class="buckets">
    <div class="container">
      <div class="row">
        <h4 class="h4 text-center">Let Appointlet handle your Google Calendar scheduling... for way less than a personal assistant</h4>
        <div class="col-xs-12 col-sm-4">
          <div class="bucket-cell simple">
            <h5 class="h5">Simple, yet powerful</h5>
            <p class="paragraph">Full-featured doesn't have to mean frustrating. Get custom branding, website integration and single-user or team-appointment scheduling in one easy-to-use solution.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="bucket-cell connect">
            <h5 class="h5">Connect to your other apps</h5>
            <p class="paragraph">Spend less time on boring admin tasks and more time building your company with 2-way Google Calendar integration plus Zapier connections to GoToMeeting, most CRMS and over 300 other apps.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="bucket-cell love">
            <h5 class="h5">customers love it</h5>
            <p class="paragraph">Appointlet allows your customers to pay for and book appointments in their own time zone without you lifting a finger. They get faster service and you save time &mdash; everybody wins!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="companies offcolor">
    <div class="container">
      <p class="paragraph text-center">ALREADY TRUSTED BY THESE AMAZING COMPANIES:</p>
      <div class="row">
        <div class="col-xs-12">
          <div class="clients-container">
            <div class="clients-top">
              <div class="client optimizely">
              </div>
              <div class="client wildapricot">
              </div>
              <div class="client mixpanel">
              </div>
            </div>
            <div class="clients-bottom">
              <div class="client capterra">
              </div>
              <div class="client startupsafary">
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="col-xs-12">
            <div class="quote">
              <blockquote>Appointlet saves me 30 minutes per day - time that would have been spent playing appointment phone and email tag.</blockquote>
              <cite class="john">John Pohly - Business Coach</cite>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="quote">
              <blockquote>Since we started using Appointlet, we've seen a 20% increase in our number of webinars. Thanks to Appointlet, we spend less time but get more done.</blockquote>
              <cite class="karyn">Karyn Vilbig - Eyemaginations</cite>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-xs-12">
            <div class="quote">
              <blockquote>From the first day, it streamlined our communication flow with our base. We love Appointlet and we love what it has done for us!</blockquote>
              <cite class="shariq">Shariq Ghani - Smashing Resumes</cite>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="quote">
              <blockquote>My customers love the interface and have told me how easy it is to make an appointment with me! I couldn't be happier with the service and I recommend it to everyone who has an online business.</blockquote>
              <cite class="nicole">Nicole Jardim - Health Coach</cite>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="call-to-action offcolor">
    <h3 class="text-center">It's easy! Start your trial and reclaim your time now.</h3>
    <div class="container">
      <div class="signup">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <input class="email" id="hero-email"name="hero-email" type="text" placeholder="Work Email" />
          </div>
          <div class="col-xs-12 col-sm-4">
            <button class="btn btn-success btn-lg">Try it Free</button>
          </div>
        </div>
      </div>
      <div class="text-center underline">30-day free trial, no credit card required</div>
    </div>
  </section>

  <!-- footer start -->
  <footer>
    <div class="container">
      <div class="col-md-9">
        <div class="row">
          <ul class="footer-nav">
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Pricing
              </a>
            </li>
            <li>
              <a href="#">
                Features
              </a>
            </li>
            <li>
              <a href="#">
                Support
              </a>
            </li>
            <li>
              <a href="#">
                About
              </a>
            </li>
            <li>
              <a href="#">
                Partner With Appointlet
              </a>
            </li>
          </ul>
        </div>
        <div class="row footer-brand">
          <div class="col-md-9 col-md-push-3">
            <ul>
              <li>
                &copy; 2015 Appointlet
              </li>
              <li>
                Terms of Service
              </li>
              <li>
                Privacy Policy
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-md-pull-9 footer-logo-wrapper">
            <img src="../img/icons/appointlet_logo_footer_@2x.png" class="footer-logo" alt="Appointlet" />
          </div>
        </div>
      </div>
      <div class="col-md-3 footer-socialAndLang">
        <div class="row">
          <a class="footer-socialIcon footer-socialIcon--facebook" href="#">
            Facebook
          </a>
          <a class="footer-socialIcon footer-socialIcon--twitter" href="#">
            Twitter
          </a>
        </div>
        <div class="row">
          <div class="dropup languagePicker">
            <button
              class="btn btn-default dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              data-lang="en-us"
            >
              United States (EN)
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-menu-heading">
                Select Your Language<span class="visible-xs close" aria-hidden="true">&times;</span>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-us" data-selected tabindex="-1" href="#">United States (EN)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-gb" tabindex="-1" href="#">English (GB)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-au" tabindex="-1" href="#">English (AU)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="es-es" tabindex="-1" href="#">Español</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="fr-fr" tabindex="-1" href="#">Français</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="de-de" tabindex="-1" href="#">Deutsch</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="da-dk" tabindex="-1" href="#">Dansk</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="it-it" tabindex="-1" href="#">Italiano</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="sv-se" tabindex="-1" href="#">Svenska</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="fi-fi" tabindex="-1" href="#">Suomi</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="nl-nl" tabindex="-1" href="#">Nederlands</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->

  <script src="js/libs.min.js"></script>
  <script src="js/logic.min.js"></script>
  <script src="js/templates.min.js"></script>

  <script>
    angular.module('appointlet.www').constant('settings', {
      API_URL: 'https://api.appointlet.com',
      CLIENT_ID: '{{CLIENT_ID}}',
      STRIPE_PUBLISHABLE: '{{STRIPE_PUBLISHABLE}}',
      MIXPANEL_TOKEN: '{{MIXPANEL_TOKEN}}',
    });
  </script>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</body>
</html>
