// Styles for the front page

.front {
  section.hero {
    background-image: url('/img/home_hero1.jpg');
    padding-top: 110px;
    min-height: 690px;
    .h1 {
      margin-bottom: 24px;
      font-size: 36px;
      font-weight: 400;
      line-height: 1.6;
    }
    .h4 {
      line-height: 1.6;
      max-width: 650px;
      margin: auto;
      margin-bottom: 42px;
    }
    .signup {
      margin-bottom: 28px;
    }
    @media (max-width: @screen-xs-max) {
      padding: 60px 0;
      min-height: 850px;
    }
  }
  .buckets .h4,
  .product .h3,
  .call-to-action .h3 {
    font-weight: 400;
    line-height: 1.6;
  }
  .product .h3 {
    margin-top: 0;
    margin-bottom: 60px;
  }
  .buckets .h4 {
    @media (max-width: @screen-xs-max) {
      max-width: inherit;
    }
  }
  .companies p {
    font-size: 18px;
  }
}
