<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}" ng-app="appointlet.www.front">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Pricing - Online Appointment Scheduling - Appointlet</title>

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon/favicon.ico">
  <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/favicon/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="img/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
  
  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">

  <!-- Windows Icons -->
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Android -->
  <link rel="manifest" href="img/favicon/manifest.json">

  <!-- Styles -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Mixpanel -->
  <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);</script>

  <!-- Stripe -->
  <script src="https://checkout.stripe.com/checkout.js" async></script>
</head>

<body class="page-pricing">
  <!--begin header-->
  <nav>
    <div id="sidebar">
      <ul>
        <li><a href="#" class="actionable">Try it Free</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Features</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="home-logo">
        <a href="#"><img alt="Appointlet Logo" src="img/icons/appointlet_logo_@2x.png"></a>
      </div>
      <ul class="nav-options hidden-xs">
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#" class="actionable">Try it Free</a></li>
      </ul>
      <div class="sidebar-nav visible-xs">
        <span class="menu">&nbsp;</span>
      </div>
    </div>
  </nav>
  <!--end header-->
  <!-- header (real) start -->
  <div class="hero">
    <h1 class="h1">Solo? Have a team? There's a plan for you.</h1>
    <h2 class="h4">
      Start with <span class="underline">30 days free</span>. No credit card required. <br />
      No strings attached.
    </h2>
  </div>
  <!-- header (real) end -->

  <!-- content start -->
  <div class="pricingTypeSwitcher radio">
    <label>
      <input type="radio" name="pricingType" value="monthly" checked />
      <span class="radio-control">
        <span class="radio-control-icon"></span>
        <span class="radio-text">Monthly</span>
      </span>
    </label>
    <label>
      <input type="radio" name="pricingType" value="yearly" />
      <span class="radio-control">
        <span class="radio-control-icon"></span>
        <span class="radio-text">Yearly</span>
      </span>
    </label>
  </div>


  <!-- pricing table begin -->
  <div class="pricingTable container clearfix">
    <div class="col-sm-2">
      <div class="pricingTable-package">
        <div class="packageDetails">
          <div class="packageName">Solo</div>

          <div class="packagePricePlan">
            <span class="packagePrice">$14/</span>
            <span class="packageDuration">month</span>
          </div>
          <div class="packagePricePlanDetails">
            when billed annually or $15 month-to-month
          </div>
          <hr class="hr" />
          <div class="packagePricePlanMembers">
            Just You
          </div>
          <a class="packageCTA" href="#">
            Try It Free
          </a>
        </div>
        <div class="packageFeatures">
          <div class="packageFeatures-feature">
            5 Services
          </div>
          <div class="packageFeatures-feature">
            5 Form Fields
          </div>
          <div class="packageFeatures-feature packageFeatures-feature--empty hidden-xs">
            &mdash;
          </div>
          <div class="packageFeatures-feature packageFeatures-feature--empty hidden-xs">
            &mdash;
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="pricingTable-package">
        <div class="packageDetails">
          <div class="packageName">Pro</div>

          <div class="packagePricePlan">
            <span class="packagePrice">$27/</span>
            <span class="packageDuration">month</span>
          </div>
          <div class="packagePricePlanDetails">
            when billed annually or $30 month-to-month
          </div>
          <hr class="hr" />
          <div class="packagePricePlanMembers">
            Just You
          </div>
          <a class="packageCTA" href="#">
            Try It Free
          </a>
        </div>
        <div class="packageFeatures">
          <div class="packageFeatures-feature">
            Unlimited Services
          </div>
          <div class="packageFeatures-feature">
            Unlimited Form Fields
          </div>
          <div class="packageFeatures-feature">
            Accept Payments
          </div>
          <div class="packageFeatures-feature packageFeatures-feature--empty hidden-xs">
            &mdash;
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 pricingTable-package--popular">
      <div class="pricingTable-package">
        <div class="popularCallout">Most Popular</div>
        <div class="packageDetails">
          <div class="packageName">Plus</div>

          <div class="packagePricePlan">
            <span class="packagePrice">$45/</span>
            <span class="packageDuration">month</span>
          </div>
          <div class="packagePricePlanDetails">
            when billed annually or $50 month-to-month
          </div>
          <hr class="hr" />
          <div class="packagePricePlanMembers">
            Up to 5 Staff Members
          </div>
          <a class="packageCTA" href="#">
            Try It Free
          </a>
        </div>
        <div class="packageFeatures">
          <div class="packageFeatures-feature">
            Unlimited Services
          </div>
          <div class="packageFeatures-feature">
            Unlimited Form Fields
          </div>
          <div class="packageFeatures-feature">
            Accept Payments
          </div>
          <div class="packageFeatures-feature">
            Pooled Availability
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="pricingTable-package">
        <div class="packageDetails">
          <div class="packageName">Elite</div>

          <div class="packagePricePlan">
            <span class="packagePrice">$81/</span>
            <span class="packageDuration">month</span>
          </div>
          <div class="packagePricePlanDetails">
            when billed annually or $90 month-to-month
          </div>
          <hr class="hr" />
          <div class="packagePricePlanMembers">
            Up to 10 Staff Members
          </div>
          <a class="packageCTA" href="#">
            Try It Free
          </a>
        </div>
        <div class="packageFeatures">
          <div class="packageFeatures-feature hidden-xs">
            Unlimited Services
          </div>
          <div class="packageFeatures-feature hidden-xs">
            Unlimited Form Fields
          </div>
          <div class="packageFeatures-feature hidden-xs">
            Accept Payments
          </div>
          <div class="packageFeatures-feature hidden-xs">
            Pooled Availability
          </div>
          <div class="packageFeatures-feature visible-xs">
            All Features
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- pricing table end -->
  <h2 class="cta">
    Questions about pricing? <br class="visible-xs" /> Email us at
    <a href="mailto:help@appointlet.com">
      help@appointlet.com
    </a>
  </h2>

  <!-- plan features section begin -->
  <div class="offcolor section planFeatures clearfix">
    <h2 class="text-center">
      Essential Features For All Plans
    </h2>
    <div class="container">
      <div class="col-sm-5 col-xs-offset-2 col-sm-offset-2">
        <ul class="planFeatures-featureList">
          <li class="planFeatures-feature">Seamless Google Calendar Integration</li>
          <li class="planFeatures-feature">Website, Emails &amp; Social Media integration</li>
          <li class="planFeatures-feature">Appointment Management from Google Calendar</li>
          <li class="planFeatures-feature">Unlimited Customer Bookings</li>
          <li class="planFeatures-feature">Zapier Integration &amp; Webhooks</li>
        </ul>
      </div>
      <div class="col-sm-5 col-xs-offset-2 col-sm-offset-0">
        <ul class="planFeatures-featureList">
          <li class="planFeatures-feature">Automatic Appointment Reminders</li>
          <li class="planFeatures-feature">Responsive Scheduler Design</li>
          <li class="planFeatures-feature">Custom Branding</li>
          <li class="planFeatures-feature">Multiple Time Zone Support</li>
          <li class="planFeatures-feature">Awesome Customer Support</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- plan features section end -->
  <!-- faq section begin -->
  <div class="section faq clearfix">
    <h2 class="text-center">
      FAQs
    </h2>
    <div class="container">
      <div class="col-md-6">
        <ul class="list-unstyled leftcolumn">
        <li class="faqItem">
            <h3 class="faqItem-header">Can I try Appointlet for free?</h3>
            <p class="faqItem-content">
              YES! You can try any plan, free for 30 days. No strings attached. We don't even ask you for your credit card!
            </p>
          </li>
          <li class="faqItem">
            <h3 class="faqItem-header">What’s a service?</h3>
            <p class="faqItem-content">
              A service allows you to create customized appointment types for each service you offer. You can customize appointment length, fees, confirmation...
            </p>
          </li>
          <li class="faqItem">
            <h3 class="faqItem-header">What’s Zapier?</h3>
            <p class="faqItem-content">
              <a rel="nofollow" href="https://zapier.com/">Zapier</a> is used to help Appointlet talk to the other systems you use like your CRM, GoToMeeting and more, so you can automate your entire scheduling process.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled rightcolumn">
          <li class="faqItem">
            <h3 class="faqItem-header">How long are my plans? Can I change plans anytime?</h3>
            <p class="faqItem-content">
              Appointlet plans are month-to-month or yearly. All plans are prorated, so you can switch plans or cancel at any time.
            </p>
          </li>
           <li class="faqItem">
            <h3 class="faqItem-header">What’s a staff member?</h3>
            <p class="faqItem-content">
              A staff member is someone your customers can book an appointment with.
            </p>
          </li>
          <li class="faqItem">
            <h3 class="faqItem-header">What’s pooled availability?</h3>
            <p class="faqItem-content">
              Pooled availability is great for support organizations or teams that work together. Customers pick a time and a staff member is automatically assigned to them.
            </p>
          </li>
        </ul>
      </div>
      <div class="text-center clearboth">
        <a href="#" class="faq-cta text-center cta--arrow">Learn more about Appointlet's Features</a>
      </div>
    </div>
  </div>
  <!-- faq section end -->

  <section class="call-to-action offcolor">
    <h3 class="h3 text-center">It's easy! Start your trial and reclaim your time now.</h3>
    <div class="container">
      <div class="signup">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <input class="email" id="hero-email"name="hero-email" type="text" placeholder="stansmith@example.com" />
          </div>
          <div class="col-xs-12 col-sm-4">
            <button class="btn btn-success btn-lg">Try it Free</button>
          </div>
        </div>
      </div>
      <div class="text-center underline">30-day free trial, no credit card required</div>
    </div>
  </section>

  <!-- content end -->


  <!-- footer start -->
  <footer>
    <div class="container">
      <div class="col-md-9">
        <div class="row">
          <ul class="footer-nav">
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Pricing
              </a>
            </li>
            <li>
              <a href="#">
                Features
              </a>
            </li>
            <li>
              <a href="#">
                Support
              </a>
            </li>
            <li>
              <a href="#">
                About
              </a>
            </li>
            <li>
              <a href="#">
                Partner With Appointlet
              </a>
            </li>
          </ul>
        </div>
        <div class="row footer-brand">
          <div class="col-md-9 col-md-push-3">
            <ul>
              <li>
                &copy; 2015 Appointlet
              </li>
              <li>
                Terms of Service
              </li>
              <li>
                Privacy Policy
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-md-pull-9 footer-logo-wrapper">
            <img src="../img/icons/appointlet_logo_footer_@2x.png" class="footer-logo" alt="Appointlet" />
          </div>
        </div>
      </div>
      <div class="col-md-3 footer-socialAndLang">
        <div class="row">
          <a class="footer-socialIcon footer-socialIcon--facebook" href="#">
            Facebook
          </a>
          <a class="footer-socialIcon footer-socialIcon--twitter" href="#">
            Twitter
          </a>
        </div>
        <div class="row">
          <div class="dropup languagePicker">
            <button
              class="btn btn-default dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              data-lang="en-us"
            >
              United States (EN)
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-menu-heading">
                Select Your Language<span class="visible-xs close" aria-hidden="true">&times;</span>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-us" data-selected tabindex="-1" href="#">United States (EN)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-gb" tabindex="-1" href="#">English (GB)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="en-au" tabindex="-1" href="#">English (AU)</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="es-es" tabindex="-1" href="#">Español</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="fr-fr" tabindex="-1" href="#">Français</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="de-de" tabindex="-1" href="#">Deutsch</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="da-dk" tabindex="-1" href="#">Dansk</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="it-it" tabindex="-1" href="#">Italiano</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="sv-se" tabindex="-1" href="#">Svenska</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="fi-fi" tabindex="-1" href="#">Suomi</a>
              </li>
              <li class="dropdown-item">
                <a data-lang="nl-nl" tabindex="-1" href="#">Nederlands</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->

  <script src="js/libs.min.js"></script>
  <script src="js/logic.min.js"></script>
  <script src="js/templates.min.js"></script>

  <script>
    angular.module('appointlet.www').constant('settings', {
      API_URL: 'https://api.appointlet.com',
      CLIENT_ID: '{{CLIENT_ID}}',
      STRIPE_PUBLISHABLE: '{{STRIPE_PUBLISHABLE}}',
      MIXPANEL_TOKEN: '{{MIXPANEL_TOKEN}}',
    });
  </script>
</body>
</html>
