// Styles for the pricing page



.page-pricing {
  .hero {
    padding: 80px 80px 70px;
    background-image: url(../img/pricing_hero.jpg);

    @media (min-width: @screen-md-min) {
      background-position: center -20px;
      padding: 130px 80px 130px;
    }
    @media (max-width: @screen-sm-min) {
      background-position: 0 0;
      height: 100%;
    }
  }

  .hero .h1 {
    margin: 0 0 26px;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.5;
  }
  .hero .h4 {
    color: #fff;
    line-height: 1.6;
    br {
      @media (min-width: @screen-md-min) {
        display: none;
      }
    }
  }
}

.pricingTypeSwitcher {
  display: block;
  margin: 46px auto;
  padding: 3px;
  width: 346px;
  @media (max-width: @screen-xs-max) {
    width: 310px;
  }
  height: 62px;
  text-align: center;
  font-weight: normal;
  border: 1px solid #dedede;
  border-radius: 3px;
}

.pricingTypeSwitcher label {
  padding: 0;
  font-weight: inherit;
  width: 49%;
}

.radio-control {
  position: relative;
  display: inline-block;
  padding: 12px 0;
  padding-left: 60px;
  width: 100%;
  height: 54px;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 3px;
}

.radio-text {
  font-size: 20px;
  line-height: 27px;
  color: #333;
}

.radio-control-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 19px;
  margin: auto;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../img/icons/radio_button_unchecked_@2x.png);
}

.radio input:checked + .radio-control {
  border-color: #1a90b9;
  background-color: #f3f6fb;
}

.radio input:checked + .radio-control .radio-control-icon {
  background-image: url(../img/icons/radio_button_checked_@2x.png);
}

.radio input {
  position: absolute;
  left: -999em;
}

.pricingTable {
  color: #333;

  @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
    width: 100%;
  }

  @media (min-width: @screen-sm-min) {
    margin: 0 auto;
  }

  @media (min-width: @screen-md-max) {
    max-width: @container-lg;
  }
  @media (min-width: @screen-lg-min) {
    max-width: 970px;
  }
}

.pricingTable .col-sm-2 {
  margin: 40px 0;
  padding: 5px;
  width: 100%;

  @media (min-width: @screen-sm-min) {
    width: 25%;
  }
}

.pricingTable-package {
  position: relative;
  text-align: center;
  border: 1px solid #dedede;
  border-radius: 1px;
}

.pricingTable .pricingTable-package--popular {
  @media (max-width: @screen-xs-max) {
    margin-top: 100px;
  }
}

.pricingTable-package--popular .pricingTable-package {
  border-color: #1a90b9;
}

.pricingTable-package--popular .popularCallout {
  position: absolute;
  left: -1px;
  width: 100%;
  bottom: 100%;
  padding: 14px 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #1a90b9;
  border: 1px solid #1a90b9;
  border-radius: 1px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.pricingTable-package--popular .packageFeatures-feature {
  font-weight: 500;
}
.pricingTable-package--popular .packageCTA {
  background-color: #64b352;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.packageDetails {
  padding: 40px 10px 30px;
}

.packageDetails .hr {
  margin: 24px auto 29px;
  width: 66%;
  border: solid #dedede;
  border-width: 2px 0 0;

  @media (min-width: @screen-lg-min) {
    width: 33%;
  }
}

.packageName {
  font-size: 18px;
  text-transform: uppercase;
}

.packagePricePlan {
  margin: 22px 0 16px;
  font-weight: 400;
  color: #1a90b9;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.packagePrice {
  font-size: 26px;
}

.packageDuration {
  font-size: 20px;
  margin-left: -4px;
}

.packagePricePlanDetails {
  margin: 0 10px;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 100;
  color: #666;
}

.packageCTA {
  display: block;
  margin: 30px 22px 0;
  padding: 14px 0;
  font-size: 14px;
  font-weight: 500;
  color: #64b352;
  border: 1px solid #64b352;
  border-radius: 2px;

  &:hover {
    color: #64b352;
    text-decoration: underline;
  }

  @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
    padding: 10px;
  }
}

.packagePricePlanMembers {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.packageFeatures-feature--empty {
  color: #dedede;
}

.packageFeatures {
  padding: 15px 20px;
  border-top: 1px solid #dedede;
  background-color: #f3f6fb;
}

.packageFeatures-feature {
  padding: 11px 0;

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    min-height: 60px;
  }

  @media (min-width: @screen-md-min) and (max-width: 1090px) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.cta {
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.planFeatures h2 {
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 26px;
  font-weight: 400;
}

.planFeatures-featureList {
  padding: 0;
  list-style: none;
}

.planFeatures-feature {
  position: relative;
  margin: 0 0 40px;
  padding-left: 34px;

  &:before {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    content: '';
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('../img/icons/green_check_@2x.png');
    background-size: 100%;
  }
}

.faq h2 {
  margin-top: 0;
  margin-bottom: 70px;
  font-size: 36px;
  font-weight: 400;
}

.list-unstyled {
  &.leftcolumn {
    @media (min-width: @screen-md-min) {
      padding-left: 70px;
    }
  }
  &.rightcolumn {
    @media (min-width: @screen-md-min) {
      padding-left: 30px;
    }
  }
}

.faqItem-header {
  margin: 10px 0 24px;
  font-size: 20px;
  font-weight: 400;
  color: @buckets-header-color;

  @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
    min-height: 44px;
  }
}

.faqItem-content {
  margin-bottom: 56px;
  max-width: 390px;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.7;
  color: @buckets-paragraph-color;

  @media (min-width: @screen-md-min) {
    min-height: 81px;
  }
}

.faq-cta {
  display: inline-block;
  font-size: 20px;
  color: #1a90b9;
  border-bottom: 2px solid transparent;

  &:hover {
    color: #1a90b9;
    text-decoration: none;
    border-bottom-color: currentColor;
  }
}

.cta--arrow {
  position: relative;
  padding-right: 50px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 28px;
    height: 16px;
    background-image: url(../img/icons/blue_arrow_@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
